.gs_article {
  background-color: #000000;
  padding-bottom: 33.3333%;
  min-height: 350px;
  @screen md {
    width: calc(50% - 2px);
  }
  &.gs_article_big {
    padding-bottom: 45%;
    @screen md {
      width: 100%;
    }
  }
  .gs_meta {
    transform: translate(-50%, -50%);
    margin: 0 auto;
  }
}