.gs_main_header {
  min-height: 80px;
  background-color: #fff;
  .gs_brand {
    i.gs_wp_logo {
      display: inline-block;
      width: 200px;
      height: 40px;
      background-image: url('../../../public/thewhitepaper.black.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}